{% extends 'calculate/layout.html' %}


{% block body %}

    <h2>Let's get started with your health goals</h2>
    <div class="form-wrapper">
        <h3>Total Metabolic Rate</h3>
        <form action="{% url 'calculate:index' %}" method="post">
            {% csrf_token %}
            {{ form }}            
            <input type="submit" value="Calculate" class="calc-btn">
        </form>
    </div>
    {% if calories %}
        <h2>This is your caloric intake goal! {{ calories }} calories</h2>
    {% endif %}

{% endblock  %}